*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
"Microsoft YaHei",
sans-serif;

background:#f5f5f5;

color:#222;

}



/* ===== 顶部 ===== */


header{

background:white;

padding:45px 20px;

text-align:center;

border-bottom:1px solid #eee;

}



header h1{

font-size:32px;

margin:0 0 10px;

}



header p{

color:#777;

margin-bottom:25px;

}



/* ===== 筛选区域 ===== */


.menu{

max-width:1000px;

margin:30px auto 0;

}



.filter-group{

background:#fafafa;

padding:15px 20px;

border-radius:15px;

margin-bottom:15px;

}



.filter-title{

font-size:14px;

font-weight:bold;

color:#666;

margin-bottom:10px;

}



button{


border:none;


background:#222;


color:white;


padding:8px 18px;


margin:5px;


border-radius:20px;


cursor:pointer;


font-size:14px;


transition:.2s;


}



button:hover{

opacity:.8;

}



/* ===== 卡片列表 ===== */


#list{


max-width:1100px;


margin:auto;


padding:40px 20px;


display:grid;


grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));


gap:20px;


}




.card{


background:white;


padding:25px;


border-radius:15px;


box-shadow:
0 5px 20px rgba(0,0,0,.06);


transition:.2s;


}



.card:hover{


transform:
translateY(-5px);


}



/* ===== 卡片内容 ===== */


.category{


font-size:14px;


color:#888;


margin-bottom:8px;


}



.card h2{


font-size:20px;


margin:10px 0;


}



.question{


line-height:1.7;

color:#444;

}



/* 标签 */


.tags{

margin-top:10px;

}



.tag{


display:inline-block;


background:#eee;


padding:5px 10px;


border-radius:15px;


font-size:12px;


margin:5px 5px 5px 0;


}



/* 难度 */


.level{


color:#e6a700;

font-size:14px;


}



/* 查看解析 */


a{


color:#222;


text-decoration:none;


font-weight:bold;


}




a:hover{


text-decoration:underline;


}




/* ===== 详情页 ===== */


.detail-card{


max-width:850px;


background:white;


margin:40px auto;


padding:35px;


border-radius:15px;


line-height:1.8;


}



.detail-card h2{


border-left:4px solid #222;


padding-left:10px;


margin-top:30px;


}



/* ===== 数学公式 ===== */


.katex{


font-size:1.1em;

}





/* ===== 手机端 ===== */


@media(max-width:600px){



header{

padding:35px 15px;

}



header h1{


font-size:25px;


}



.menu{

margin-top:20px;

}



.filter-group{


padding:12px;


}



button{


padding:7px 14px;


font-size:13px;


}



#list{


padding:25px 15px;


grid-template-columns:1fr;


}



.card{


padding:20px;


}


}

.chapter{

display:inline-block;

background:#f0f0f0;

padding:4px 10px;

border-radius:12px;

font-size:12px;

color:#555;

margin-bottom:10px;

}
